.interactive {
  width: 527px;
  gap: 100px;
  /* background-color: red; */
}

.first {
  margin: 0;
}

.second {
  position: absolute;
  margin-top: 30px;
  margin-left: 50px;
}

.third {
  margin-top: 27px;
  margin-left: 40px;
}
