:root {
  --dark-color: #302f2c;
  --light-color: #efede3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 16px;
  background-color: var(--light-color);
  color: var(--dark-color);
}
